@page "/ticketbuy/order"
@using AviaDB
@using AviaDB.Models
@using Azure
@using DataAccessLibrary
@inject IUserData _db


<div class="backgroundbodylogin">
    <center class="formlogin">
    <form>
        <h1>Sign In</h1>
        <div class="">
            <input @bind-value="@Login1" placeholder="Login"/>
            <input placeholder="Password" @bind-value="@Password"/>
            <label>By creating an account you agree to our Terms & Privacy.</label>
            <button @onclick="SignIn2">Sign In</button>
            <label>Dont have account? Create it <a href="#">here</a></label>
        </div>
    </form>
        
    </center>
</div>


@code {
    string Login1 = "1";
    string Password = "1";
    string Role = "1";
    List<UserModel> user;
    bool f = false;
    protected override async Task OnInitializedAsync()
    {
        if(f =false)
        {
            user = await _db.GetPeople();    
        }


    }

    public void SignIn2()
    {
        foreach(var item in user)
        {
            if(item.Login == Login1 && item.Password == Password)
            {
                f = true;
                NavigationManager.NavigateTo("/buying");
            }
        }
    }
}
